image:
  - Visual Studio 2019

install:
  - pip3 install flask
  - pip3 install gunicorn
  - sh: chmod +x ./flaskapp/st.sh
  - sh: ./flaskapp/st.sh

build: off
 
build_script:
# - cd flaskapp
# - ./st.sh 
- sh: ./flaskapp/st.sh

