image:
- Visual Studio 2019

install:
- ps: "Invoke-WebRequest -Uri https://www.python.org -OutFile C:\\python_installer.msi"
- ps: "msiexec.exe /i C:\\python_installer.msi /qn ALLUSERS=1 TARGETDIR=C:\\Python312-x64"
- ps: "$env:Path = 'C:\\Python312-x64\\Scripts;' + 'C:\\Python312-x64;' + $env:Path"
- ps: "python.exe -m pip install --upgrade pip"
- pip install -q -r requirements.txt
- sh: chmod +x ./flaskapp/st.sh

build: off

build_script:
- cd flaskapp
- sh: ./st.sh

after_build:
- curl -X POST https://api.render.com%RENDER_DEPLOYMENT_KEY%
