image:
- Visual Studio 2019

install:
# 1. Загружаем 64-битный установщик Python с помощью curl/Invoke-WebRequest
- ps: "curl -o C:\\python_installer.msi https://www.python.org"
# 2. Запускаем установщик в тихом режиме (параметры для MSI)
- ps: "msiexec.exe /i C:\\python_installer.msi /qn ALLUSERS=1 TARGETDIR=C:\\Python312-x64"
# 3. Настройка переменной PATH с использованием 64-битного пути
- ps: "set PATH=C:\\Python312-x64;C:\\Python312-x64\\Scripts;$env:PATH"
# 4. Обновляем pip и устанавливаем зависимости проекта
- ps: "python.exe -m pip install --upgrade pip"
- pip install -r requirements.txt
# 5. Делаем скрипт исполняемым (остается как было)
- sh: chmod +x ./flaskapp/st.sh

build: off

build_script:
- cd flaskapp
- sh: ./st.sh

after_build:
# Убедитесь, что этот URL/ключ зашифрован в настройках AppVeyor
- curl -X POST https://api.render.com%RENDER_DEPLOYMENT_KEY%
