image:
- Visual Studio 2019

install:
- pip install -r requirements.txt
- sh: chmod +x ./flaskapp/st.sh

build: off

build_script:
- cd flaskapp
- sh: ./st.sh

after_build:
- curl -X POST https://api.render.com%RENDER_DEPLOYMENT_KEY%
