image:
  - Visual Studio 2019

install:
  - ps: "Install-Product python 3.12 x64"
  - ps: "set PATH=C:\\Python312-x64;C:\\Python312-x64\\Scripts;$env:PATH"
  - pip install -r requirements.txt
  - sh: chmod +x ./flaskapp/st.sh

build: off
 
build_script:
  - cd flaskapp
  - sh: ./st.sh 

