{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Задаем заголовок страницы -->
{% block title %} This is an page{% endblock %}

<!-- Блок body -->
{% block content %}
{{ wtf.quick_form(form, method='post', enctype="multipart/form-data", action="net") }}

<!-- Один из стандартных тегов html заголовок второго уровня -->
<h2>Classes: </h2>

<!-- Проверяем, есть ли какие-либо результаты обработки, и выводим их -->
{% if neurodic and neurodic.items() %}
<!-- Запускаем цикл прохода по словарю и отображаем ключ-значение доступных данных -->
{% for key, value in neurodic.items() %}
<h3>{{key}}: {{value}}</h3>
{% endfor %}
{% endif %} <!-- <-- ВОТ ЭТОТ ТЕГ ДОЛЖЕН БЫТЬ ТУТ -->

<h2>Image is here: </h2>

<!-- Отображаем загруженное изображение с закругленными углами, если оно есть (после submit) -->
{% if image_name %}
<p>{{image_name}}</p>
<p><img src="{{ url_for('static', filename=image_name.split('./static/')[-1]) }}"
class="img-rounded"
alt="My Image"
width= 224
height=224 />
{% else %}
<p> There is no image yet </p>
{% endif %} <!-- <-- И ЭТОТ ТЕГ ТОЖЕ ЗДЕСЬ -->

{% endblock %}
