{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- ... (блок title) ... -->

<!-- Блок body -->
{% block content %}
<!-- Форма теперь содержит поле percentage -->
{{ wtf.quick_form(form, method='post', enctype="multipart/form-data", action="net") }}

<!-- ... (блок Classes) ... -->

<h2>Original Image: </h2>

<!-- Отображаем исходное изображение -->
{% if image_url %}
<p>{{image_name}}</p> 
<p>
  <img src="{{ url_for('static', filename=image_url) }}" 
       class="img-rounded"
       alt="Original Image"
       width= 224
       height=224 />
</p>
{% else %}
<p> There is no image yet </p>
{% endif %}

<!-- Добавляем секцию для измененного изображения -->
<h2>Modified Image: </h2>
{% if modified_url %}
<p>
  <img src="{{ modified_url }}" 
       class="img-rounded"
       alt="Modified Image"
       width= 224
       height=224 />
</p>
{% endif %}

<!-- Добавляем секции для графиков -->
<h2>Color Distributions:</h2>
{% if original_plot_url and modified_plot_url %}
<h3>Original Histogram:</h3>
<img src="{{ original_plot_url }}" alt="Original Image Histogram" />
<h3>Modified Histogram:</h3>
<img src="{{ modified_plot_url }}" alt="Modified Image Histogram" />
{% endif %}

{% endblock %}
