{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- ... (блок title) ... -->
<head>
    <title>Net Page</title>
    <!-- Sets the default color scheme for the browser's UI elements -->
    <meta name="color-scheme" content="dark light"> 
    <style>
        body {
            /* Dark background color */
            background-color: #121212; 
            /* Light text color for contrast */
            color: #ffffff; 
            font-family: sans-serif;
            padding: 20px;
            margin: 0;
        }
        h1 {
            color: #e0e0e0; /* Slightly lighter color for headings */
        }
        p {
            line-height: 1.5;
        }
    </style>
</head>
<!-- Блок body -->
{% block content %}
<!-- Форма теперь содержит поле percentage -->
{{ wtf.quick_form(form, method='post', enctype="multipart/form-data", action="net") }}

<!-- ... (блок Classes) ... -->

<h2>Original Image: </h2>

<!-- Отображаем исходное изображение -->
{% if image_url %}
<p>{{image_name}}</p> 
<p>
  <img src="{{ url_for('static', filename=image_url) }}" 
       class="img-rounded"
       alt="Original Image"
       width= 224
       height=224 />
</p>
{% else %}
<p> There is no image yet </p>
{% endif %}

<!-- Добавляем секцию для измененного изображения -->
<h2>Modified Image: </h2>
{% if modified_url %}
<p>
  <img src="{{ modified_url }}" 
       class="img-rounded"
       alt="Modified Image"
       width= 224
       height=224 />
</p>
{% endif %}

<!-- Добавляем секции для графиков -->
<h2>Color Distributions:</h2>
{% if original_plot_url and modified_plot_url %}
<h3>Original Histogram:</h3>
<img src="{{ original_plot_url }}" alt="Original Image Histogram" />
<h3>Modified Histogram:</h3>
<img src="{{ modified_plot_url }}" alt="Modified Image Histogram" />
{% endif %}

{% endblock %}
